# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/.idea.Tannenbaum/.idea/.gitignore
.idea/.idea.Tannenbaum/.idea/.name
.idea/.idea.Tannenbaum/.idea/contentModel.xml
.idea/.idea.Tannenbaum/.idea/encodings.xml
.idea/.idea.Tannenbaum/.idea/indexLayout.xml
.idea/.idea.Tannenbaum/.idea/modules.xml
.idea/.idea.Tannenbaum/.idea/projectSettingsUpdater.xml
.idea/.idea.Tannenbaum/.idea/vcs.xml
.idea/.idea.Tannenbaum/riderModule.iml
Tannenbaum.sln
Tannenbaum.sln.DotSettings.user
Tannenbaum/
